/* 가운데 정렬을 위한 코드이니 되도록 건들지 않는 것을 추천합니다. */
body {
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이 아래부터는 필요에 따라 삭제, 변경해도 됩니다 */

.calendar__container {
  display: flex;
  flex-direction: column;

  width: 25rem;
  gap: 1rem;
}

.calendar__controller__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.calendar__controller__btn {
  width: 2rem;
  height: 2rem;

  border: none;
  background: none;
}

.calendar__controller__btn img {
  width: 100%;
}

.calendar__table__container {
  width: 100%;
  table-layout: fixed;
}

.calendar__table__cell {
  text-align: center;
  line-height: 2rem;
}

.calendar__table__cell--today {
  background-color: #ffd255;
  color: #ffffff;
}
